{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'principal' %}"><img width="24" height="24" src="{% static 'imagens/logo.svg' %}"></i> Combate ao Mosquito</a>
        <span class="navbar-text p-0">
            <a class="link-primary link-underline link-underline-opacity-0" href="javascript:window.close();"><i class="bi bi-x-lg mx-1 text-secondary" style="font-size: 20px;"></i></a>
        </span>
    </div>
</nav>