{% extends 'app/base.html' %}
{% block conteudo %}
{% include 'app/navbase.html' %}
<div class="container-lg d-flex flex-column shadow px-4 py-3 bg-body rounded">
    <p class="fs-3 lh-sm">Política de Privacidade</p>
    <p>Esta Política de Privacidade descreve como este sistema coleta, usa e compartilha suas informações pessoais ou dos locais suspeitos de foco do mosquito <i>Aedes aegypti</i> quando você utiliza nossos serviços. Respeitamos sua privacidade e nos esforçamos para proteger suas informações de acordo com as disposições da Lei Geral de Proteção de Dados (LGPD).</p>
    <ol>
        <li class="fs-5">Informações Coletadas</li>
        <p>Podemos coletar as seguintes informações pessoais sobre você ou dos locais suspeitos:</p>
        <ul class="fs-6 mb-3">
            <li>Informações de identificação (como CEP do endereço, número do endereço e número de telefone);</li>
            <li>Informações de localização (com base nas informações de endereço);</li>
            <li>Informações de navegação (por meio de cookies e tecnologias similares);</li>
            <li>Informações opcionais que você nos fornece voluntariamente (como nome e descrição do local).</li>
        </ul>
        <li class="fs-5">Uso das Informações</li>
        <p>Utilizamos suas informações pessoais ou dos locais suspeitos para os seguintes propósitos:</p>
        <ul class="fs-6 mb-3">
            <li>Identificação e visualização de locais suspeitos;</li>
            <li>Análise dos dados para melhor compreensão dos locais suspeitos;</li>
            <li>Compartilhamento de informações com autoridades governamentais responsáveis pelo combate ao mosquito;</li>
        </ul>
        <li class="fs-5">Compartilhamento de Informações</li>
        <p>Podemos compartilhar suas informações pessoais ou dos locais suspeitos com:</p>
        <ul class="fs-6 mb-3">
            <li>Prefeituras dos municípios;</li>
            <li>Secretarias de Saúde dos municípios;</li>
            <li>Centro de Controle de Zoonoses dos municípios;</li>
        </ul>
        <li class="fs-5">Armazenamento e Segurança</li>
        <p>Mantemos medidas de segurança técnicas, administrativas e físicas para proteger suas informações contra acesso não autorizado, divulgação, alteração ou destruição.</p>
        <li class="fs-5">Seus Direitos</li>
        <p>Você tem direito a acessar, corrigir ou excluir suas informações pessoais. Você também pode optar por não receber comunicações deste serviço a qualquer momento.</p>
        <li class="fs-5">Alterações nesta Política</li>
        <p>Esta Política de Privacidade está sujeita a alterações. Quaisquer alterações serão publicadas nesta página.</p>
        <li class="fs-5">Contato</li>
        <p>Se você tiver dúvidas sobre esta Política de Privacidade ou desejar exercer seus direitos de privacidade, entre em contato conosco através dos seguintes meios:</p>

        <ul style="list-style-type: none; margin:0; padding: 0;">
            <li><b>Projeto Integrador:</b> Desenvolvido por alunos dos cursos de Bacharelado em Tecnologia da Informação, Bacharelado em Ciências de Dados e Engenharia da Computação.</li>
            <li><b>UNIVESP</b> Universidade Virtual do Estado de São Paulo</li>
            <li><b>Polos: </b>São José dos Campos (Santana e Parque de Inovação Tecnológica)</li>
            <li><b>Email: </b><a href="mailto:2201726@aluno.univesp.br">2201726@aluno.univesp.br</a></li>
        </ul>
    </ol>
</div>
{% endblock %}